*{
  background-image: url("Images/Imagen1.jpg");
  background-position: 225px 50px;
  background-repeat: no-repeat;
}

h1{
position: center;

font-family: Prompt;
font-style: italic;
font-size: 25px;
text-align: center;
padding: 10px;
color: black;
}
#instruction{
  position: absolute;
  left: 280px;
  top: 595px;

  font-family: Roboto;
  font-size: 15px;
  color: black;
}
#text{

display: inline-block;
position: absolute;
width: 280px;
height: 150px;
left: 345px;
top: 90px;

background: white;
border: 1px solid black;
box-sizing: border-box;
border-radius: 10px;
}

#text2{
  display: inline-block;
  position: absolute;
  width: 230px;
  height: 140px;
  left: 690px;
  top: 120px;

  background: white;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 10px;
}
#encrypt1{
  position: absolute;
  width: 60px;
  height: 30px;
  left: 390px;
  top: 370px;

  background-color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 10px;

  color: black;
}
#decrypt1{
  position: absolute;
  width: 60px;
  height: 30px;
  left: 835px;
  top: 370px;


  background-color: white;
  font-family: Roboto;
  font-size: 10px;
  color: black;
}

#rank{
  position: absolute;
  width: 60px;
  height: 30px;
  left: 520px;
  top: 250px;

  background-color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;

  color: black;
}
